.App {
  max-width: 85%;
  margin: 1rem auto;
}

h1,
h3 {
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}

.user-profile-btns {
  display: flex;
}
.user-profile-btns button {
  margin-right: 1rem;
}

.user-links a {
  display: block;
  margin: 1rem 0;
  width: max-content;
}

.users-links a:not(:first-child) {
  margin: 0 0.5rem;
}

button:active {
  transform: scale(0.98);
}
